# Load and inspect the Data

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('train 2.csv')

In [4]:
print("Shape:",df.shape)

Shape: (9800, 18)

In [5]:
print("Columns:", df.columns.tolist())

Columns: ['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales']

In [6]:
print("Data Types:\n", df.dtypes)

Data Types:
 Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [7]:
print("Missing Values:\n", df.isnull().sum())

Missing Values:
 Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [8]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

# Data Cleaning

In [10]:
cols_to_drop = ['Row ID', 'Order ID', 'Order Date', 'Ship Date', 
                'Customer ID', 'Customer Name', 'Product ID', 
                'Product Name', 'Postal Code']

df_cleaned = df.drop(columns=cols_to_drop)


print("Shape after cleaning:", df_cleaned.shape)
df_cleaned.head()

Shape after cleaning: (9800, 9)

,Ship Mode,Segment,Country,City,State,Region,Category,Sub-Category,Sales
0,Second Class,Consumer,United States,Henderson,Kentucky,South,Furniture,Bookcases,261.9600
1,Second Class,Consumer,United States,Henderson,Kentucky,South,Furniture,Chairs,731.9400
2,Second Class,Corporate,United States,Los Angeles,California,West,Office Supplies,Labels,14.6200
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,South,Furniture,Tables,957.5775
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,South,Office Supplies,Storage,22.3680

# Feature Engineering — Encode Categorical Variables

In [12]:


categorical_cols = ['Ship Mode', 'Segment', 'Country', 'City', 
                    'State', 'Region', 'Category', 'Sub-Category']


df_encoded = pd.get_dummies(df_cleaned, columns=categorical_cols, drop_first=True)


print("Shape after encoding:", df_encoded.shape)
df_encoded.head()

Shape after encoding: (9800, 603)

,Sales,Ship Mode_Same Day,Ship Mode_Second Class,Ship Mode_Standard Class,Segment_Corporate,Segment_Home Office,City_Abilene,City_Akron,City_Albuquerque,City_Alexandria,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,261.9600,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,731.9400,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,14.6200,False,True,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,957.5775,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,22.3680,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

# Standardize the Features

In [14]:
from sklearn.preprocessing import StandardScaler


X = df_encoded.drop('Sales', axis=1)
y = df_encoded['Sales']


X = X.astype(int)


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)


X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

X_scaled_df.head()

,Ship Mode_Same Day,Ship Mode_Second Class,Ship Mode_Standard Class,Segment_Corporate,Segment_Home Office,City_Abilene,City_Akron,City_Albuquerque,City_Alexandria,City_Allen,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,-0.241012,2.037761,-1.219294,-0.656722,-0.465604,-0.010102,-0.045222,-0.037823,-0.040439,-0.020207,...,-0.161131,-0.149413,-0.323994,-0.194437,-0.108968,-0.397641,-0.313309,-0.304589,-0.138329,-0.181938
1,-0.241012,2.037761,-1.219294,-0.656722,-0.465604,-0.010102,-0.045222,-0.037823,-0.040439,-0.020207,...,-0.161131,-0.149413,-0.323994,-0.194437,-0.108968,-0.397641,-0.313309,-0.304589,-0.138329,-0.181938
2,-0.241012,2.037761,-1.219294,1.522714,-0.465604,-0.010102,-0.045222,-0.037823,-0.040439,-0.020207,...,-0.161131,-0.149413,-0.323994,5.143052,-0.108968,-0.397641,-0.313309,-0.304589,-0.138329,-0.181938
3,-0.241012,-0.490735,0.820147,-0.656722,-0.465604,-0.010102,-0.045222,-0.037823,-0.040439,-0.020207,...,-0.161131,-0.149413,-0.323994,-0.194437,-0.108968,-0.397641,-0.313309,-0.304589,-0.138329,5.496380
4,-0.241012,-0.490735,0.820147,-0.656722,-0.465604,-0.010102,-0.045222,-0.037823,-0.040439,-0.020207,...,-0.161131,-0.149413,-0.323994,-0.194437,-0.108968,-0.397641,-0.313309,3.283115,-0.138329,-0.181938

# Train/Test Split

In [16]:
from sklearn.model_selection import train_test_split

# 80/20 train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled_df, y, test_size=0.2, random_state=42
)

# Print shapes
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

X_train: (7840, 602)
X_test: (1960, 602)
y_train: (7840,)
y_test: (1960,)

# Save Final Preprocessed Dataset

In [18]:

final_df = X_scaled_df.copy()
final_df['Sales'] = y


final_df.to_csv("preprocessed_superstore_data.csv", index=False)
print("✅ Saved: preprocessed_superstore_data.csv")

✅ Saved: preprocessed_superstore_data.csv